{% extends '@BasefonyAdmin/container.html.twig' %}

{% block header %}

    <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-6">
            <h1><span class="fa fa-edit"></span> {{ 'Pages'|trans }}</h1>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6 text-right">
            {% include '@BasefonyPage/Admin/menu.html.twig' %}
        </div>
    </div>
    <hr class="mt0 mb5">
    <div class="row">
        <div class="col-md-6">
            <form action="{{ url('basefony_admin_page_search') }}" method="get">
                <input type="text" name="keyword" class="form-control pull-left input-sm" style="max-width: 250px">
                <input type="submit" value="Bul" class="btn btn-sm btn-primary pull-left">
            </form>
        </div>
    </div>

{% endblock %}

{% block content %}

    <table class="table table-hover table-responsive">
        <thead>
        <tr style="font-weight: bold">
            <th>
                {{ knp_pagination_sortable(pagination, '#', 'id') }}
            </th>
            <th colspan="2">
                {{ knp_pagination_sortable(pagination, 'Page Name'|trans, 'title') }}
            </th>
        </tr>
        </thead>
        <tbody>
        {% for page in pages %}
            <tr>
                <td width="1%">
                    {{ page.id }}
                </td>
                <td onClick="window.location='{{ url('basefony_admin_page_edit', {id:page.id}) }}'">
                    <a href="{{ url('basefony_admin_page_edit', {id:page.id}) }}"
                       class="text-primary">{{ page.title }}</a>
                </td>
                <td width="20%" nowrap="">
                    <span class="btn-group btn-group-sm pull-right">
                        <a href="{{ url('basefony_admin_page_edit', {'id':page.id}) }}"
                           class="btn btn-primary" title="{{ 'Edit'|trans }}">
                            <span class="fa fa-edit"></span>
                        </a>

                        <a href="{{ url('basefony_admin_page_delete', {'id':page.id}) }}"
                           onClick="return confirm('{{ 'Are you sure?'|trans }}');"
                           class="btn btn-danger" title="{{ 'Delete'|trans }}">
                            <span class="fa fa-remove"></span>
                        </a>
                    </span>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div id="pagination" class="navigation" >
        {{ knp_pagination_render(pagination) }}
    </div>

{% endblock %}